@using Web.Areas.Admin.ViewModels.ProductCategory;
@model ProductCategoryCreateVM;


<div class="container ">
    <h4>Product Category Create</h4>
    <form enctype="multipart/form-data" method="post">

        <div class="form-group">
            <label asp-for="Title"></label>
            <input class="form-control" asp-for="Title" />
            <span class="text-danger" asp-validation-for="Title"></span>
        </div>

        <div class="pt-2">
            <button class="btn btn-outline-success">Create</button>
            <a class="btn btn-outline-danger" asp-action="index" asp-controller="productcategory">Cancel</a>
        </div>
    </form>
</div>
@section Scripts{
    @await Html.PartialAsync("_FormValidationPartial")
    }

