@using Web.Areas.Admin.ViewModels.Statistic;
@model StatisticUpdateVM;

<div class="container ">
    <h4>Statistic Update</h4>
    <form method="post">
        <div class="col-6 mx-auto">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input class="form-control" asp-for="Title" />
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input class="form-control" asp-for="Quantity" />
                <span class="text-danger" asp-validation-for="Quantity"></span>
            </div>

            <div class="pt-2">
                <button class="btn btn-outline-success">Update</button>
                <a class="btn btn-outline-danger" asp-action="index" asp-controller="statistic">Cancel</a>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    @await Html.PartialAsync("_FormValidationPartial")
    }

